*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: #000;
}

section{
    width: 100%;
    height: 100%;
    padding: 20px;
    h1{
        font-size: 5em;
    }

    .circle1, .circle2{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        shape-outside: circle(); // Main Focus
        img{
            width: 100%;
            height: 100%;
        }
        &.circle2{
            height: 500px;
            width: 500px;
            position: absolute;
            top: 20px;
            right: 0;
        }
    }
}